<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="../measurement/">Pomiary</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="../location/">Miasta</a>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <a href="/pogodynka/pogodynkaApp/public/index.php/">Wyloguj</a>
        {% endif %}
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
